    #calculadora {
        background: black;
    }

    	#calculadora td {
            padding: 6px;
        }

    	.resultadoBox {
            background-color: white;
            color: black;
             width: 170px; height: 26px;
            font-size: 20px; 
            text-align: right; 
            }

        .operacion {
                font-weight: bold;
                color:red;
        }
    	.boton {
            width: 34px;
            cursor: hand;
             background-color: gray;
            }

    	.boton_largo {
            width: 80px;
            cursor: hand;
            background-color: gray;
            }

    	
    